@import "tailwindcss";

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  /* SPACING */
  --spacing-vert: 70px;
  --spacing-hor: 12px;

  /* COLORS */
  --primary: #105dd1;
  --primary-tint: #d5e2fd;
  --secondary: #d19111;
  --foreground: #111111;
  --shade: #c0c0c0;
  --background: #f0f2ff;

  /* TYPOGRAPHY */
  --tracking-1: -0.025rem;
}

@media (min-width: 767px) {
  :root {
    /* SPACING */
    --spacing-vert: 90px;
    --spacing-hor: 40px;
  }
}

@theme inline {
  /* COLORS */
  --color-primary: var(--primary);
  --color-primary-tint: var(--primary-tint);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-shade: var(--shade);
  --color-background: var(--background);

  /* TYPOGRAPHY */
  --tracking-1: var(--tracking-1);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  padding: var(--spacing-vert) var(--spacing-hor);
  max-width: 1400px;
  margin-inline: auto;
}

.heading-primary-mb {
  @apply mb-6 md:mb-8;
}

/* For dropdown menus */
.dd {
  @apply bg-primary-tint rounded-xl border-1 border-shade shadow-lg;
  background-color: var(--primary-tint);
  border-radius: 8px;
  border: 1px solid var(--shade);
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
}

.dd-item {
  padding: 10px 20px;
  display: block;
}

/* Form fields */
.form__field {
  outline: none;
  width: 100%;
  border: 2px solid var(--shade);
  border-radius: 4px;
  padding: 7px 10px;
  transition: border-color .3s;
}

.form__field:focus {
  border-color: var(--primary);
}