/* HERO */
.hero {
    position: relative;
    padding-top: 0;
}

.hero__content {
    display: grid;
    gap: 20px;
    padding-top: 140px;

    .heading-2 {
        max-width: 200px;
    }
}

.hero__enso {
    position: absolute;
    top: 0;
    right: 10px;
    width: 200px;
}

.hero__enso-container {
    position: relative;

    .heading-2 {
        position: absolute;
        inset: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        font-family: var(--font-primary);
        font-weight: 300;
        letter-spacing: 6px;
    }
}

/* MAIN BENEFITS */
.main-benefits {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: var(--grid-gap);
    background-color: var(--primary);
    text-align: center;
}

.main-benefits .heading-4 {
    color: var(--body);
}

.main-benefits .item {
    display: grid;
    justify-items: center;
    align-content: start;
    padding: 15px;
    gap: 15px;
    background-color: var(--body);
    border-radius: var(--border-radius-m);
}

.main-benefits .icon {
    padding: 15px;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--body);
}

/* 4 STEPS */
.steps {
    display: grid;
    grid-template-rows: auto repeat(4, 1fr);
    gap: var(--grid-gap);
    text-align: center;
}

.steps .item {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 15px;
}

.steps .icon {
    padding: 15px 100px;
    background-color: var(--primary-tint);
    border-radius: var(--border-radius-m);
}

