/*==================== FONTS ====================*/
/* GEORAMA */
@font-face {
  font-family: "Georoma";
  src: url(/assets/fonts/georama/Georama-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Georoma";
  src: url(/assets/fonts/georama/Georama-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "Georoma";
  src: url(/assets/fonts/georama/Georama-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Georoma";
  src: url(/assets/fonts/georama/Georama-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Georoma";
  src: url(/assets/fonts/georama/Georama-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Georoma";
  src: url(/assets/fonts/georama/Georama-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Georoma";
  src: url(/assets/fonts/georama/Georama-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Georoma";
  src: url(/assets/fonts/georama/Georama-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "Georoma";
  src: url(/assets/fonts/georama/Georama-Black.ttf);
  font-weight: 900;
}

/* CORMORANT GARAMONT */
@font-face {
  font-family: "Cormorant Garamond";
  src: url(/assets/fonts/cormorant-garamont/CormorantGaramond-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url(/assets/fonts/cormorant-garamont/CormorantGaramond-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url(/assets/fonts/cormorant-garamont/CormorantGaramond-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url(/assets/fonts/cormorant-garamont/CormorantGaramond-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url(/assets/fonts/cormorant-garamont/CormorantGaramond-Bold.ttf);
  font-weight: 700;
}

/*==================== VARIABLE CSS ====================*/
:root {
  /*==================== Whitespace ====================*/
  --spacing-horizontal: 15px;
  --spacing-vertical: 70px;
  --grid-gap: 15px;
  /*==================== COLORS ====================*/
  --primary: #105FD2;
  --secondary: #D19111;
  --text: #1a1a1a;
  --body: #F5F5F5;
  /*==================== FONT AND TYPOGRAPHY ====================*/
  --text-body: "Georoma", sans-serif;
  --font-secondary: "Cormorant Garamond", serif;
  --text-m: 0.938rem;
  --text-s: 0.813rem;
  --text-xs: 0.75rem;
  /* BORDER RADIUS */
  --border-radius-s: 4px;
  --border-radius-m: 8px;
}
/*==================== RESPONSIVE TYPOGRAPHY ====================*/
@media (min-width: 1024px) {
  :root {
    /*==================== Whitespace ====================*/
    --spacing-horizontal: 20px;
    --spacing-vertical: 100px;
    /*==================== FONT AND TYPOGRAPHY ====================*/
    --text-m: 1rem;
    --text-s: 0.875rem;
    --text-xs: 0.813rem;
  }
}
/*==================== BASE ====================*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--text-body);
    font-size: var(--text-m);
    background-color: var(--body);
    color: var(--text);
    line-height: 1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

input,
textarea {
  outline: none;
  border: none;
  width: 100%;
  font-family: var(--text-body);
  font-size: var(--text-m);
  color: var(--text);
}

i {
  font-size: 2.5rem;
}

main {
  padding-bottom: 1000px;
}